body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    background-color: #f2f2f2;
}

header{
    background-color: #004d6e;
    padding-top: 5vh;
    border-bottom: solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 15vh;
    width: 100%;
}

header > h1{
    color: #f2f2f2;
}

button{
    width:fit-content;
    height: 3rem;
    font-size: 1.1rem;
    margin: 0 auto 1rem auto;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 0.5rem;
    background-color: #ef233c;
    border: solid #d80032;
    color:#f2f2f2;
}

button:hover{
    background-color: #d80032;
    border: solid #ef233c;
    cursor: pointer;
}

.loading {
    margin: auto;
    border: 15px solid #c6c6c6;
    border-radius: 50%;
    border-top: 15px solid #009fe3;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

button > *{
    margin: auto 0 auto 0;
}

svg{
    height: 2rem;
    fill: #f2f2f2;
}

#job-container{
    width: 100%;
    height: 100%;
    overflow: auto;
}

#job{
    padding-top: 2rem;
    width: 70%;
    height: 100%;
    margin: 0 auto 0 auto;
    hyphens: auto;
    height: 100%;
}

#job:not(:first-child()){
    text-align: left;
}

#title {
    font-size: 25pt;
    color: black;
    text-decoration: none;
    text-align: left;
}

#title:hover{
    color: #ef233c;
    text-decoration: underline;
}

#place {
    margin:0.5rem 0 2rem 0;
}

a {
    color: #009fe3;
}
a:hover {
    color: #ef233c;
}

@media screen and (max-width: 600px) {
    header{
        padding-top: 1vh;
        background-color: rebeccapurple;
    }
   }

@media screen and (min-width: 1024px) {
    #job-container{
       width: 1024px;
       margin: 0 auto 0 auto;
    }   
   }
   